<div class="card-container">
    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Ana.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Ana Letícia</h2></div>
            <p> Human </p>
            <sub>01600640</sub>
        </div>
    </article>

    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Filipi.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Filipi Farias</h2></div>
            <p> Human </p>
            <sub>01554219</sub>
        </div>
    </article>

    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Gabriel.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Gabriel Leão</h2></div>
            <p> Human </p>
            <sub>01514154</sub>
        </div>
    </article>

    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Guilherme.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Guilherme Marcello</h2></div>
            <p> Human </p>
            <sub>01528565</sub>
        </div>
    </article>

    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Mateus.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Mateus Andrade</h2></div>
            <p> Human </p>
            <sub>01517424</sub>
        </div>
    </article>

    <article>
        <div class="card" appMudaCor>
            <img src="..\assets\img\Matheus.jpg" alt="" width="300px" height="400px">
            <div class="titulo"><h2>Matheus Henrique</h2></div>
            <p> Human </p>
            <sub>01515159</sub>
        </div>
    </article>
</div>